// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// material
@import '~@mdi/font/scss/materialdesignicons.scss' ;

table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
  bottom: 0.1em;
}

.alert.mdi::before,
.breadcrumb .mdi::before,
.btn.mdi::before,
.card-title.mdi::before,
.card-subtitle.mdi::before,
.card-link.mdi::before,
.dropdown-item.mdi::before,
.list-group-item.mdi::before,
.nav-link.mdi::before {
  font-size: 1.25em;
  line-height: initial;
  position: relative;
  top: 0.09rem;
}
.alert.mdi::before,
.breadcrumb .mdi:not(:empty)::before,
.btn.mdi:not(:empty)::before,
.card-title.mdi:not(:empty)::before,
.card-subtitle.mdi:not(:empty)::before,
.card-link.mdi:not(:empty)::before,
.dropdown-item.mdi:not(:empty)::before,
.nav-link.mdi:not(:empty)::before {
  margin-right: 0.25rem;
}
.list-group-item.mdi:not(:empty)::before {
  margin-right: 0.5rem;
}
.dropdown-item.mdi:not(:empty)::before {
  margin-left: -0.75rem;
}
.alert.mdi::before,
.list-group-item.mdi:not(:empty)::before {
  margin-left: -0.5rem;
}
.modal-title.mdi::before {
  font-size: 1.5em;
  line-height: 0.5;
  position: relative;
  top: 0.26rem;
  margin-right: 0.5rem;
}

.text-sm {
  font-size: .75rem;
}

.text-xs {
  font-size: .5rem;
}

.text-lg {
  font-size: 1.2rem;
}

.text-xl {
  font-size: 1.5rem
}

.text-xxl {
  font-size: 2rem;
}

.btn-xs {
  padding: 0.1rem 0.25rem;
  font-size: 0.75rem;
  line-height: 1.4;
  border-radius: 0.25rem;
}

.sidebar {
  width: 70px;
  height: 100vh;
  position: fixed;
  top: 60px;
  left: -255px;
  z-index: 999;
  background: #333;
  color: #fff;
  transition: all .3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: left;
}

.sidebar.active {
  left: 0;
}

/***** Content *****/

.content {
  width: 100%;
  transition: all 0.3s;
}

.overlay {
  display: none;
  position: fixed;
  top: 60px;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.3);
  z-index: 998;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

.sidebar ul.menu-elements {
  padding: 10px 0;
  border-bottom: 1px solid #444;
  transition: all .3s;
}

.sidebar ul li a {
  display: block;
  padding: 10px 20px;
  border: 0;
}

.side-link {
  color: #ddd;
}

.side-link:hover, .side-link:active {
  color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
  outline: 0;
  /*
  background: #555;
  color: #fff;
  */
}

.sidebar ul li a i {
  margin-right: 5px;
}

.sidebar ul li.active > a,
a[aria-expanded="true"] {
  /*
  background: #444;
  color: #fff;
  */
}

.sidebar ul ul a {
  /*
  background: #444;
  */
  padding-left: 30px;
  font-size: 14px;
}

.sidebar ul ul li.active > a {
  /*
  background: #555;
  */
}

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

